# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.cache

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# IDE
.idea